<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD avec MongoDB</title>
    <link rel="stylesheet" href="/../assets/css/bootstrap.min.css">
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-4">CRUD MongoDB, Express</h1>
        <p class="lead">CRUD désigne les quatre opérations de base pour la persistance des données, en particulier le stockage d'informations en base de données.</p>
        <hr class="my-4">
        <p>Soit : create : créer read : lire update : mettre à jour delete : supprimer</p>
    </div>
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <form action="/employee/addEmployee" method="POST" id="form">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="employeeId">Identifiant</span>
                    <input type="text" class="form-control" aria-label="employeeId" aria-describedby="employeeId" name="employeeId" id="employeeId" value="<%= employeeId %>"/>   
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="firstname">Prénom</span>
                    <input type="text" class="form-control" aria-label="firstname" aria-describedby="firstname" name="firstname" id="firstname" value="<%= firstname %>" required />
                  </div>
                <div class="input-group mb-3">
                <span class="input-group-text" id="lastname">Nom</span>
                <input type="text" class="form-control" aria-label="lastname" aria-describedby="lastname" name="lastname" id="lastname" value="<%= lastname %>" required />   
                </div>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="submit" class="btn btn-info">Ajouter</button>
                </div>  
            </form>
        </div>
        <div class="row">
            
        </div>
        <br/>
        <div class="row">
            <ul class="list-group list-group-horizontal-md d-flex flex-wrap">
                <% employesList.forEach((employee)=> { %>
                    <li class="list-group-item flex-fill">
                        <p>
                            ID: <%= employee._id %>
                        </p>
                        <strong>
                            <%= employee.prenom %>
                        </strong>
                        <strong>
                            <%= employee.nom %>
                        </strong>
                    </li>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a href="/employee/editEmployee/<%= employee._id %>" type="button" class="btn btn-secondary" >Modifier</a>
                        <a href="/employee/deleteEmployee/<%= employee._id %>" type="button" class="btn btn-danger">Supprimer</a>
                    </div>
                <% }); %>
              </ul>
        </div>
    </div>


    <script src="../assets/js/bootstrap.min.js"></script>
</body>

</html>